{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "@antfu"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/array-type": [
      "error",
      {
        "default": "array"
      }
    ],
    "camelcase": "off",
    "import/named": "off",
    "no-useless-constructor": "off",
    "no-control-regex": "off",
    "no-console": "warn",
    "@typescript-eslint/brace-style": "off",
    "brace-style": [
      "error",
      "1tbs"
    ],
    "curly": [
      "error",
      "all"
    ],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "@typescript-eslint/space-before-function-paren": "off",
    "comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/comma-dangle": ["error", "always-multiline"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "react/jsx-max-props-per-line": ["error", {
      "maximum": { "single": 3, "multi": 1 }
    }],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "react/jsx-indent": [
      "error", 
      2,
      {"indentLogicalExpressions": true}
    ],
    "react/jsx-indent-props": ["error", 2],
    "react/sort-comp": ["error", {
      "order": [
        "static-methods",
        "lifecycle",
        "everything-else",
        "render"
      ]
    }]
  }
}
