{
  "extends": [
    "stylelint-config-standard"
  ],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "declaration-empty-line-before": "never",
    "rule-empty-line-before": "never",
    "value-list-max-empty-lines":1,
    "no-descending-specificity":null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": [
          "v-deep"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "inside-block",
          "blockless-after-blockless",
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "apply",
          "include",
          "mixin",
          "function",
          "return",
          "for",
          "tailwind",
          "each",
          "use",
          "forward",
          "extend",
          "if",
          "else",
          "layer",
          "screen"
        ]
      }
    ]
  }
}
