@mixin black-mode {
  /* text */
  --c-color-base: 255, 255, 255;
  --c-color-dim-1: 214, 214, 214;
  --c-color-dim-2: 107, 107, 107;
  --c-color-dim-3: 54, 54, 54;

  /* bg */
  --c-bg-base: 8, 8, 19;
  --c-bg-dim-1: 11, 11, 20;
  --c-bg-dim-2: 20, 20, 25;
  
  --c-bg-card: var(--c-bg-dim-1);
  
  /* elements */
  // illustration
  --c-illustration-el: var(--c-bg-dim-2);
  --c-illustration-bg: var(--c-bg-card);
  // separator
  --c-separator: 35, 35, 38;
  --c-separator-vivid: 45, 45, 49;
  --c-separator-muted: 28, 28, 30;
  // link
  --c-link-primary: var(--c-accent-secondary);
  --c-link-vivid: var(--c-accent-secondary-lighten);
  // navlink
  --c-navlink: var(--c-accent-primary);
  --c-navlink-color: var(--c-accent-primary);
  // button
  --c-button-primary-bg: var(--c-accent-primary);
  --c-button-primary-bg-vivid: var(--c-accent-primary-lighten);
  --c-button-primary-color: var(--c-white);
  --c-button-secondary-bg: 25, 25, 31;
  --c-button-secondary-bg-vivid: 35, 35, 43;
  --c-button-secondary-color: var(--c-white);
  // radio
  --c-radio-bg: var(--c-bg-dim-2);
  --c-radio-option-checked-text: var(--c-color-base);
  --c-radio-option-checked-bg: var(--c-bg-base);
  --o-radio-option-checked-bg: 1;

  /* shadows */
  --s-card: 0 1rem 1rem rgba(var(--c-color-base), 0.25);
  --s-title: none;

  /* opacities */
  --o-modal-overlay: 0.75;

  /* radiuses */
  --r-sm: 0.125rem;
  --r-DEFAULT: 0.25rem;
  --r-lg: 0.5rem;
  --r-xl: 0.75rem;
  --r-navlink: var(--r-lg);
}
